spring:
  application:
    name: in4
  config:
      import: "optional:classpath:application-secret.yaml"
  h2:
    console:
      enabled: true
      path: /h2-console
  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 100MB
  jpa:
    hibernate:
      ddl-auto: create
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
        format_sql: true


server:
  port: 8888

  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true